<article id="trigger-{{ trigger.id }}">
  <fieldset style="margin-bottom: 0">
    <div style="display: flex; flex-wrap: wrap; align-items: center;">
      <input
        id="checkbox-enabled-{{ trigger.id }}"
        type="checkbox"
        name="enabled"
        role="switch"
        style="transform: scale(1.5); margin-left: 0.5rem; margin-right: 1rem;"
        {% if trigger.enabled %}checked{% endif %}
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-swap="none"
      >
      <label
        for="checkbox-enabled-{{ trigger.id }}"
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-swap="none"
      >
        <div style="margin-left: 1rem">
          <div class="headings mr-1" style="margin-bottom: 0;">
            <h4>{{ trigger.thermostat.name }}</h4>
            <h5>
              {{ trigger.name }}
              <i class="fa fa-fw fa-arrow-right"></i> {{ trigger.temperature }} °C
            </h5>
          </div>
          <div style="margin-top: 0.25rem; font-size: 0.66rem; opacity: 0.5;">
            {% if trigger.recurring %}
              <i class="fa fa-fw fa-repeat" style="margin-right: 0.2rem;"></i>
              {{ trigger.get_recurring_time_label }}
              {% else %}
              {{ trigger.get_formatted_time }}
            {% endif %}
          </div>
        </div>
      </label>
      <div style="
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
      ">
        <small>
          <a
            href="{% url "admin:triggers_trigger_change" trigger.id %}"
            class="secondary"
            title="Edit this trigger"
          >
            <i class="fa fa-fw fa-lg fa-pen-to-square"></i>
          </a>
        </small>
        {% comment %} <small><a href="#" class="secondary outline ml-1">Duplicate</a></small> {% endcomment %}
        {% comment %} <small><a href="#" class="secondary outline ml-1">Delete</a></small> {% endcomment %}
      </div>
    </div>
  </fieldset>
</article>
