<article id="trigger-{{ trigger.id }}">
  <fieldset style="margin-bottom: 0">
    <div style="display: flex; flex-wrap: wrap; align-items: center;">
      <input
        id="checkbox-enabled-{{ trigger.id }}"
        type="checkbox"
        name="enabled"
        role="switch"
        style="transform: scale(1.5); margin-right: 1rem;"
        {% if trigger.enabled %}checked{% endif %}
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-swap="none"
      >
      <label
        for="checkbox-enabled-{{ trigger.id }}"
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-swap="none"
      >
        <div class="headings mr-1" style="margin-left: 1rem; margin-bottom: 0;">
          <h4>{{ trigger.thermostat.name }}</h4>
          <h5>
            {{ trigger.name }}
            <i class="fa fa-fw fa-arrow-right"></i> {{ trigger.temperature }} °C
          </h5>
        </div>
      </label>
      <div style="
          flex-grow: 1;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-end;
      ">
        <small>
          <a
            href="{% url "admin:triggers_trigger_change" trigger.id %}"
            class="secondary outline"
          >
            Edit
          </a>
        </small>
        {% comment %} <small><a href="#" class="secondary outline ml-1">Duplicate</a></small> {% endcomment %}
        {% comment %} <small><a href="#" class="secondary outline ml-1">Delete</a></small> {% endcomment %}
      </div>
    </div>
  </fieldset>
</article>
