<article
  id="trigger-{{ trigger.id }}"
  style="position: relative"
>
  {% if message %}
    <div
      class="fade-out--slow"
      style="
        position: absolute;
        bottom: -5px;
        right: 0;
        font-size: 0.6rem;
      "
    >
      <mark>
        {{ message|safe }}
      </mark>
    </div>
  {% endif %}
  <fieldset style="margin-bottom: 0">
    <div
      style="
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      "
    >
      <input
        id="checkbox-enabled-{{ trigger.id }}"
        type="checkbox"
        name="enabled"
        role="switch"
        style="transform: scale(1.5); margin-left: 0.5rem; margin-right: 1rem;"
        {% if trigger.enabled %}checked{% endif %}
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-target="#trigger-{{ trigger.id }}"
        hx-swap="outerHTML"
        hx-trigger="click delay:200ms"
      >
      <label
        for="checkbox-enabled-{{ trigger.id }}"
        hx-post="/trigger/{{ trigger.id }}/toggle"
        hx-target="#trigger-{{ trigger.id }}"
        hx-swap="outerHTML"
        hx-trigger="click delay:200ms"
        style="
          flex-grow: 1;
        "
      >
        <div style="margin-left: 1rem">
          <div class="headings mr-1" style="margin-bottom: 0;">
            <h4>{{ trigger.thermostat.name }}</h4>
            <h5>
              {{ trigger.name }}
              <span
                style="white-space: nowrap"
              ><i class="fa fa-fw fa-arrow-right"></i> {{ trigger.temperature }} °C</span>
            </h5>
          </div>
          <div style="margin-top: 0.25rem; font-size: 0.66rem; opacity: 0.5;">
            {% if trigger.recurring %}
              <i class="fa fa-fw fa-repeat" style="margin-right: 0.2rem;"></i>
              {{ trigger.get_recurring_time_label }}
              {% else %}
              <span
                {% if trigger.outdated %}
                  style="
                    {% if theme == "light" %}
                      color: #f4511e;
                    {% else %}
                      color: #ffb300
                    {% endif %}
                  "
                  title="This is outdated"
                {% endif %}
              >{{ trigger.get_formatted_time }}</span>
            {% endif %}
          </div>
        </div>
      </label>
      <div style="
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
      ">
        <!-- Edit -->
        <small>
          <a
            href="{% url "admin:triggers_trigger_change" trigger.id %}"
            class="secondary mr-1"
            title="Edit this trigger"
          >
            <i class="fa fa-fw fa-pen"></i>
          </a>
        </small>
        <!-- Clone -->
        <small>
          <form
            id="form-clone-trigger-{{ trigger.id }}"
            action="{% url "clone-trigger" trigger.id %}"
            method="post"
            style="margin-bottom: 0"
          >
            {% csrf_token %}
            <a
              onclick="document.getElementById('form-clone-trigger-{{ trigger.id }}').submit()"
              class="secondary mr-1"
              style="cursor: pointer"
              title="Clone this trigger"
            >
              <i class="fa fa-fw fa-regular fa-clone"></i>
            </a>
          </form>
        </small>
        <!-- Delete -->
        <small>
          <form
            id="form-delete-trigger-{{ trigger.id }}"
            action="{% url "delete-trigger" trigger.id %}"
            method="post"
            style="margin-bottom: 0"
          >
            {% csrf_token %}
            <a
              onclick="onDeleteTriggerClicked({{ trigger.id }}, '{{ trigger.name }}')"
              class="secondary"
              style="cursor: pointer"
              title="Delete this trigger"
            >
              <i class="fa fa-fw fa-trash-can"></i>
            </a>
          </form>
        </small>
      </div>
    </div>
  </fieldset>
</article>
