{% extends "triggers/base.html" %}

{% block content %}

{% if onetime_triggers %}
  <div style="display: flex; align-items: baseline;">
    <h5
      style="
        opacity: 0.5;
        margin-bottom: 1.2rem;
      "
    >
      Once
    </h5>
    <a
      class="secondary"
      style="margin-left: auto;"
      href="{% url 'list-logs' %}"
    >
      Logs
    </a>
  </div>
  {% for trigger in onetime_triggers %}
    {% include "triggers/_trigger_card.html" with trigger=trigger only %}
  {% endfor %}
{% endif %}

{% if recurring_triggers %}
  <h5 style="opacity: 0.5; margin-top: 1.2rem; margin-bottom: 1.2rem">
    Weekly
  </h5>
  {% for trigger in recurring_triggers %}
    {% include "triggers/_trigger_card.html" with trigger=trigger only %}
  {% endfor %}
{% endif %}

{% endblock%}
